body {
  width: 100%;
  height: 1150vh;
  margin: 0;
}
.extension-menu-wrapper {
  position: sticky;
  width: fit-content;
  top: calc(-50vh + 100px);
  left: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.extension-menu {
  background-color: #eeeeee;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  pointer-events: all;

  z-index: 20;

  width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: unset;
  padding: unset;
  user-select: none;

  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;

  input,
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  section,
  input,
  button {
    margin: unset;
    padding: unset;
    user-select: none;
  }
  input,
  button {
    border: unset;
    background-color: unset;
    font-size: unset;
    color: unset;
    height: unset;
    width: fit-content;
  }

  input,
  button {
    cursor: pointer;
  }
  button {
    padding: 6px 14px;
    background-color: #1c7ed6;
    color: white;
    font-weight: 800;
    display: flex;
    place-items: center;
    gap: 10px;
    font-size: 14px;
    height: 40px;
  }
  button:disabled {
    background-color: #444;
  }
  button:disabled:hover {
    background-color: #555;
  }
  button:disabled:active {
    background-color: #444;
  }
  input[type="color"] {
    width: 90%;
    appearance: none;
    border: unset;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
  }
  input,
  button {
    border-radius: 5px;
  }
  button:hover {
    background-color: #1864ab;
  }
  button:active {
    background-color: #1c7ed6;
  }
  label {
    text-transform: uppercase;
    color: #444;
  }
  header h1 {
    font-weight: 900;
  }

  main,
  section {
    display: flex;
  }
  main {
    gap: 12px;
    flex-direction: column;
  }
  section {
    gap: 3px;
    align-items: center;
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    align-items: stretch;
    gap: 16px;
  }
}
