@layer base {
  @font-face {
    font-family: "Segoe UI";
    src: url("./segoe-ui.ttf");
  }
  html,
  input,
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  section,
  input,
  button {
    margin: unset;
    padding: unset;
    user-select: none;
  }
  input,
  button {
    border: unset;
    background-color: unset;
    font-size: unset;
    color: unset;
    height: unset;
  }
}
body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}
input,
button {
  cursor: pointer;
}
button {
  padding: 6px 14px;
  background-color: #1c7ed6;
  color: white;
  font-weight: 800;
  display: flex;
  place-items: center;
  gap: 10px;
  font-size: 14px;
  height: 40px;
}
button:disabled {
  background-color: #444;
}
button:disabled:hover {
  background-color: #555;
}
button:disabled:active {
  background-color: #444;
}
input[type="color"] {
  width: 90%;
  appearance: none;
  border: unset;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
input,
button {
  border-radius: 5px;
}
button:hover {
  background-color: #1864ab;
}
button:active {
  background-color: #1c7ed6;
}
button.set-bg-btn {
  background-color: #fa5252;
}
button.delete-images-btn {
  background-color: #868e96;
}
label {
  text-transform: uppercase;
  color: #444;
}
header h1 {
  font-weight: 900;
}

hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

main,
section {
  display: flex;
  flex-direction: column;
}
main {
  gap: 12px;
}
section {
  gap: 3px;
}

.inputs {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.set-effects label {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
#clear-effects {
  border: solid 2px #91969c;
  background-color: #edf2f7;
  color: #444;
  padding: 4px 8px;
  height: 30px;
  font-size: 13px;
  gap: 4px;
  svg {
    height: 18px;
  }
}
