@layer base {
  @font-face {
    font-family: "Segoe UI";
    src: url("./segoe-ui.ttf");
  }
  html,
  input,
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  section,
  input,
  button {
    margin: unset;
    padding: unset;
  }
  input,
  button {
    border: unset;
    background-color: unset;
    font-size: unset;
    color: unset;
  }
}
input,
button {
  cursor: pointer;
}
button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #1c7ed6;
  color: white;
  font-weight: 800;
  display: flex;
  place-content: center;
  gap: 12px;
}
button:hover {
  background-color: #1864ab;
}
button:active {
  background-color: #1c7ed6;
}
button.set-bg-btn {
  background-color: #fa5252;
}
button.delete-images-btn {
  background-color: #868e96;
}
