@layer base {
  @font-face {
    font-family: "Segoe UI";
    src: url("./segoe-ui.ttf");
  }
  html,
  input,
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  section,
  input,
  button {
    margin: unset;
    padding: unset;
  }
  input,
  button {
    border: unset;
    background-color: unset;
    font-size: unset;
  }
}
input,
button {
  cursor: pointer;
}
button {
}
